.wip {color: red;}
a, label{display: block;}
.DivList > * {margin-left: 8px;}
.DivList {overflow: scroll;}
.DivIt > * {font-family: Consolas, monospace;}
button{
    width: 75px;
    cursor: pointer;
    border-radius: 100;
}
button>label{cursor: pointer;}

.context-menu {
    display:none;
    position: absolute;
    text-align: center;
    background: #1F1F1F;
    border-radius: 12px;
    cursor: pointer;
}

.context-menu ul {
    padding: 0px;
    margin: 0px;
    min-width: 150px;
    list-style: none;
}

.context-menu ul li {
    padding-bottom: 7px;
    padding-top: 7px;
    border-radius: 12px;
}

.context-menu ul li a {
    text-decoration: none;
    color: #E3E3E3;
}

.context-menu ul li:hover {background: #363635;}
.cm_disabled:hover,.cm_disabled:hover>*{background-color: #1F1F1F;cursor: not-allowed;}